<article class="clearfix">
    <%- page.content %>
    <div class="footer">
        found mistake? Want to participate in editing?
        <a href="https://github.com/catlib/catlib.github.io/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
            Edit this page on Github!
        </a>
    </div>
</article>

<div class="sub-nav hiden-in-phone">
    <dl id="sub-nav">
        <dt>Content</dt>
        <dd v-for="(ele, index) in sub_nav">
           <a v-bind:href="ele.href">{{ ele.name }}</a>
        </dd>
    </dl>
</div> 